@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-plus-jakarta-sans), ui-sans-serif, system-ui, sans-serif;

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);

  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);

  --color-info: var(--info);
  --color-info-foreground: var(--info-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
  :root {
    --background: #F8FAFC;
    --foreground: #0F172A;
    --card: #FFFFFF;
    --card-foreground: #0F172A;
    --popover: #FFFFFF;
    --popover-foreground: #0F172A;
    --primary: #0F766E;
    --primary-foreground: #FFFFFF;
    --secondary: #0D9488;
    --secondary-foreground: #FFFFFF;
    --muted: #F1F5F9;
    --muted-foreground: #475569;
    --accent: #CCFBF1;
    --accent-foreground: #115E59;
    --destructive: #EF4444;
    --destructive-foreground: #FFFFFF;
    --success: #10B981;
    --success-foreground: #FFFFFF;
    --warning: #F59E0B;
    --warning-foreground: #FFFFFF;
    --info: #3B82F6;
    --info-foreground: #FFFFFF;
    --border: #CBD5E1;
    --input: #CBD5E1;
    --ring: #0F766E;
    --radius: 1rem;
    
    /* Variáveis base do Shadcn */
    --chart-1: #0F766E;
    --chart-2: #0D9488;
    --chart-3: #10B981;
    --chart-4: #F59E0B;
    --chart-5: #3B82F6;
    --sidebar: #F8FAFC;
    --sidebar-foreground: #0F172A;
    --sidebar-primary: #0F766E;
    --sidebar-primary-foreground: #FFFFFF;
    --sidebar-accent: #CCFBF1;
    --sidebar-accent-foreground: #115E59;
    --sidebar-border: #CBD5E1;
    --sidebar-ring: #0F766E;
  }
  .dark {
    --background: #0B131B;
    --foreground: #F1F5F9;
    --card: #131E29;
    --card-foreground: #F1F5F9;
    --popover: #131E29;
    --popover-foreground: #F1F5F9;
    --primary: #2DD4BF;
    --primary-foreground: #042F2E;
    --secondary: #5EEAD4;
    --secondary-foreground: #042F2E;
    --muted: #1E293B;
    --muted-foreground: #94A3B8;
    --accent: #115E59;
    --accent-foreground: #2DD4BF;
    --destructive: #EF4444;
    --destructive-foreground: #FFFFFF;
    --success: #10B981;
    --success-foreground: #FFFFFF;
    --warning: #F59E0B;
    --warning-foreground: #FFFFFF;
    --info: #3B82F6;
    --info-foreground: #FFFFFF;
    --border: #334155;
    --input: #334155;
    --ring: #2DD4BF;

    /* Variáveis base do Shadcn */
    --chart-1: #2DD4BF;
    --chart-2: #5EEAD4;
    --chart-3: #10B981;
    --chart-4: #F59E0B;
    --chart-5: #3B82F6;
    --sidebar: #0B131B;
    --sidebar-foreground: #F1F5F9;
    --sidebar-primary: #2DD4BF;
    --sidebar-primary-foreground: #042F2E;
    --sidebar-accent: #1E293B;
    --sidebar-accent-foreground: #F1F5F9;
    --sidebar-border: #334155;
    --sidebar-ring: #2DD4BF;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}